option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: awsdjango/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: awsdjango.settings.prod
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static_root/"

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_makesuper:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py makesuper"
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py collectstatic --noinput"